<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Web Development Company</title>
  <link rel="shortcut icon" type="image/png" href="../img/awdc-logo-lower-spaced-truncated-no-backgroundpng.svg" />
</head>

<body>
  <header>
    <section id="logo-navigation">
      <img class="logo" src="../img/awdc-logo-lower-spaced-no-icon-1.svg" alt="adwc logo">
      <!-- Think about using a PNG file for this instead-->
      <nav class="main-nav">
        <ul class="nav-content">
          <li class="nav-link"><a href="#Link">Work</a></li>
          <li class="nav-link"><a href="#Link">Services</a></li>
          <li class="nav-link"><a href="#Link">Articles</a></li>
          <li class="nav-link"><a href="#Link">About</a></li>
          <li class="nav-link"><a href="#Link">Contact</a></li>
        </ul>
      </nav>
      <a href="#Link">
        <button id="nav-button" class="nav-toggle" aria-label="activate navigation">
          <span class="hamburger"></span>
        </button>
      </a>
    </section>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="#Link">Work.</a></li>
        <li class="nav-item"><a href="#Link">Services.</a></li>
        <li class="nav-item"><a href="#Link">Articles.</a></li>
        <li class="nav-item"><a href="#Link">About.</a></li>
        <li class="nav-item"><a href="#Link">Work.</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <section id="tagline">
      <div class="tag">
        <h3 class="tagline-item">We design, brand, and transform your digital presence with inclusivity in mind.
        </h3>
        <h3 class="tagline-item subtag">You ready to make the change?</h3>
      </div>
    </section>
    <section id="info-boxes">
      <div class="info-box">
        <h2>Design</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos tenetur, magni sapiente inventore
          distinctio delectus minima dolor recusandae necessitatibus rerum temporibus sint. Aliquam amet rerum dolorem
          ut iusto, ipsam delectus!</p>
      </div>
      <div class="info-box">
        <h2>Develop</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda aspernatur fugiat porro nesciunt error
          commodi qui numquam eveniet reiciendis vero impedit consequuntur dolore harum deserunt eum quam, quo quod
          exercitationem.</p>
      </div>
      <div class="info-box">
        <h2>Educate</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima totam cumque odio iusto, vero quos
          architecto! Commodi velit, minus aperiam totam voluptatum necessitatibus magni culpa ex voluptate quam
          laudantium nihil!</p>
      </div>
    </section>
    <section id="day-section">
      <div class="date">
        <h1 class="day">Wednesday</h1>
        <h1 class="iso-date"></h1>
      </div>
      <div class="catch-phrase">
        <h1>Large text with some catchy phrase or interesting fact.</h1>
      </div>
    </section>

  </div>

</body>

</html>