<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>A Web Development Company</title>
</head>

<body>
  <header>
    <img class="logo" src="../img/awdc-logo-lower-spaced-no-icon-1.svg" alt="adwc logo">
    <nav class="main-nav">
      <ul class="nav-content">
        <li class="nav-link"><a href="#Link">Work</a></li>
        <li class="nav-link"><a href="#Link">Services</a></li>
        <li class="nav-link"><a href="#Link">Articles</a></li>
        <li class="nav-link"><a href="#Link">About</a></li>
        <li class="nav-link"><a href="#Link">Contact</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    <section class="tagline">
      <h3 class="tag tagline-item">We design, brand, and transform your digital presence with inclusivity in mind.</h3>
      <h3 class="subtag tagline-item">You ready to make the change?</h3>
    </section>
  </div>

</body>

</html>