@import url("https://use.typekit.net/nab2rzo.css");
$text-color: #39405F;

body {
  color: $text-color;
  font-family: 'fieldwork', sans-serif;
  font-weight: 200;
  font-style: normal;
}


a {
  text-decoration: none;
  color: inherit;
}


.container {
  display: flex;
  flex-direction: column;
  // margin: 2em;
}

#tagline {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5;
  height: 30vh;

  .subtag {
    margin-left: 1em;
  }
}

#info-boxes {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  margin: 2em;

  .info-box {
    margin: 1em;
  }
}

#day-section {
  height: 100vh;
  color: #FFF;
  background-color: #39405F;

  .date {
    display: flex;
    justify-content: space-between;
    margin: 2em;
    font-size: 1.5em;
  }
  .catch-phrase {
    font-size: 7em;
    margin: 2em 0em 2em 0.5em;
  }
}
