header {
  display: flex;
  padding: 1em 1em;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5em;

  .logo {
    width: 250px;
    height: 100px;
    // padding: 0.5em;
    // margin: 0.5em;
  }
  .nav-content {
    display: flex;
    .nav-link {
      padding: 0.5em;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}


